# üêº Master Pandas: From Zero to Job-Ready

**Prerequisites:** Basic Python, Basic NumPy.
**Goal:** Load, clean, manipulate, and analyze tabular data.

-----

## Part 1: The Two Core Structures

*Start here. Everything in Pandas is built on these two objects.*

### 1.1 The Series (1D)

Think of a **Series** as a single column in Excel or a specialized Python list. It has an **Index** (labels) and **Values**.

In [2]:
!pip install pandas numpy

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Requirement already satisfied: numpy in /home/dat/data/learning/deep-learning-for-beginner/.venv/lib/python3.13/site-packages (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/dat/data/learning/deep-learning-for-beginner/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/dat/data/learning/deep-learning-for-beginner/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.3 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 12.3/12.3 MB 20.7 MB/s  0:00:0016.1 MB/s eta 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3/3 [pandas]‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 2/3 [pandas]
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2

In [3]:
import pandas as pd
import numpy as np

# Creating a Series from a list
# Note: Pandas automatically creates an integer index (0, 1, 2...)
prices = pd.Series([10, 20, 30], name="Product Price")
print("Simple Series:\n", prices)

# Custom Index (Like a Map/Dictionary keys)
# You can access data by position OR by label
prices_labeled = pd.Series([10, 20, 30], index=['Apple', 'Banana', 'Cherry'])
print("\nLabeled Series:\n", prices_labeled)

print("\nAccess by Label (Apple):", prices_labeled['Apple'])

Simple Series:
 0    10
1    20
2    30
Name: Product Price, dtype: int64

Labeled Series:
 Apple     10
Banana    20
Cherry    30
dtype: int64

Access by Label (Apple): 10


### 1.2 The DataFrame (2D)

Think of a **DataFrame** as an entire Excel sheet or a SQL table. It is a collection of Series sharing the same Index.

In [4]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Salary': [70000, 80000, 120000, 90000]
}

df = pd.DataFrame(data)
df
# Note: Jupyter renders DataFrames as nice HTML tables. 
# If you are in a standard script, use print(df)

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   90000


## Part 2: Inspecting Data (The "Hello World" of Data Analysis)

*Before you touch data, you must understand it. These are the first commands you run on ANY new dataset.*

In [ ]:
# 1. Peek at the data
print("First 2 rows:\n", df.head(2))

# 2. Technical Summary (CRITICAL)
# Checks for: Missing values (Null), Data Types (int, object/string)
print("\n--- Info ---")
df.info() 

# 3. Statistical Summary
# Instantly gives you Mean, Min, Max, Percentiles for numeric columns
print("\n--- Description ---")
print(df.describe())

# 4. Shape (Rows, Columns)
print(f"\nShape: {df.shape}") # (4, 4)

## Part 3: Selection & Filtering (The "Where" Clause)

*This is the most common point of confusion. We use `.loc` and `.iloc`.*

  * **`.loc[row_label, col_label]`**: "Location". Uses **names**. (Think: "Get me the row named 'Bob'").
  * **`.iloc[row_index, col_index]`**: "Integer Location". Uses **positions**. (Think: "Get me row 0").

<!-- end list -->

In [5]:
# Let's set 'Name' as the index to demonstrate .loc clearly
df_labeled = df.set_index('Name')

# --- 1. Selecting Columns ---
# Returns a Series
print("Ages:\n", df['Age']) 

# Returns a DataFrame (Double brackets)
print("\nAge and City:\n", df[['Age', 'City']])

# --- 2. Selecting Rows (The confusion killer) ---

# .loc example: "Give me Bob's data"
print("\n--- .loc Example (Bob) ---")
print(df_labeled.loc['Bob'])

# .iloc example: "Give me the 2nd row (Index 1)"
print("\n--- .iloc Example (Index 1) ---")
print(df.iloc[1])

# --- 3. Conditional Selection (The 'SQL Where' clause) ---
# Syntax: df[condition]

# Who earns more than 85k?
high_earners = df[df['Salary'] > 85000]
print("\nHigh Earners:\n", high_earners)

# Multiple conditions: Use & (AND), | (OR) and parentheses!
# Age > 30 AND City is Chicago
subset = df[(df['Age'] > 30) & (df['City'] == 'Chicago')]
print("\nComplex Filter:\n", subset)

Ages:
 0    25
1    30
2    35
3    40
Name: Age, dtype: int64

Age and City:
    Age         City
0   25     New York
1   30  Los Angeles
2   35      Chicago
3   40      Houston

--- .loc Example (Bob) ---
Age                30
City      Los Angeles
Salary          80000
Name: Bob, dtype: object

--- .iloc Example (Index 1) ---
Name              Bob
Age                30
City      Los Angeles
Salary          80000
Name: 1, dtype: object

High Earners:
       Name  Age     City  Salary
2  Charlie   35  Chicago  120000
3    David   40  Houston   90000

Complex Filter:
       Name  Age     City  Salary
2  Charlie   35  Chicago  120000

## Part 4: Data Cleaning (The 80% of the Job)

*Real world data is messy. Here is how to fix it.*

In [6]:
# Let's create a messy DataFrame
messy_data = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'A', np.nan], # Duplicate 'A', Missing Value
    'Price': ['100', '200', 'Missing', '100', '300'] # String type instead of Int, one garbage value
})

print("Original Messy Data:\n", messy_data)

# 1. Handling Missing Values
# Option A: Drop them
print("\nDropped Nulls:\n", messy_data.dropna())

# Option B: Fill them
print("\nFilled Nulls:\n", messy_data.fillna('Unknown'))


# 2. Handling Duplicates
print("\nDuplicates Removed:\n", messy_data.drop_duplicates())


# 3. Fixing Data Types (The hardest part)
# 'Price' is currently an 'object' (string) because of the word "Missing"
# We need to coerce errors (turn "Missing" into NaN) then convert to float.

messy_data['Price'] = pd.to_numeric(messy_data['Price'], errors='coerce')
print("\nFixed Types:\n", messy_data)
# Now 'Price' is float, and "Missing" became NaN (Not a Number)

Original Messy Data:
   Product    Price
0       A      100
1       B      200
2       C  Missing
3       A      100
4     NaN      300

Dropped Nulls:
   Product    Price
0       A      100
1       B      200
2       C  Missing
3       A      100

Filled Nulls:
    Product    Price
0        A      100
1        B      200
2        C  Missing
3        A      100
4  Unknown      300

Duplicates Removed:
   Product    Price
0       A      100
1       B      200
2       C  Missing
4     NaN      300

Fixed Types:
   Product  Price
0       A  100.0
1       B  200.0
2       C    NaN
3       A  100.0
4     NaN  300.0


## Part 5: Feature Engineering (Creating New Data)

*Creating new columns based on existing ones.*

In [7]:
# Restore our clean dataframe
df = pd.DataFrame(data)

# 1. Simple Math
df['Salary_Monthly'] = df['Salary'] / 12

# 2. The .apply() method (The Power Tool)
# Apply a custom python function to every row or column.
# Note: Slower than vectorization, but very flexible.

def classify_age(age):
    return "Senior" if age > 35 else "Junior"

df['Level'] = df['Age'].apply(classify_age)

print("Added Columns:\n", df)

Added Columns:
       Name  Age         City  Salary  Salary_Monthly   Level
0    Alice   25     New York   70000     5833.333333  Junior
1      Bob   30  Los Angeles   80000     6666.666667  Junior
2  Charlie   35      Chicago  120000    10000.000000  Junior
3    David   40      Houston   90000     7500.000000  Senior

## Part 6: Grouping & Aggregation

*The "Pivot Table" concept. This is the Split-Apply-Combine pattern.*

In [8]:
# Let's expand our dataset
df_sales = pd.DataFrame({
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Employee': ['John', 'Jane', 'Mike', 'Sue', 'Chris', 'Pat'],
    'Sales_Value': [200, 300, 50, 60, 1000, 1200]
})

# Question: What is the total Sales_Value per Department?

# 1. Split: Group by 'Department'
grouped = df_sales.groupby('Department')

# 2. Apply & Combine: Calculate Sum
print("Total Sales by Dept:\n", grouped['Sales_Value'].sum())

# You can do multiple aggregates at once
print("\nDetailed Stats:\n", grouped['Sales_Value'].agg(['mean', 'max', 'count']))

Total Sales by Dept:
 Department
HR        110
IT       2200
Sales     500
Name: Sales_Value, dtype: int64

Detailed Stats:
               mean   max  count
Department
HR            55.0    60      2
IT          1100.0  1200      2
Sales        250.0   300      2

## Part 7: Merging (Joins)

*Combining two tables. If you know SQL, this is `JOIN`.*

In [ ]:
users = pd.DataFrame({
    'UserID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

emails = pd.DataFrame({
    'UserID': [2, 3, 4],
    'Email': ['bob@email.com', 'charlie@email.com', 'david@email.com']
})

# INNER JOIN (Default): Only keeps keys present in BOTH
# Alice (1) and David (4) get dropped.
merged_inner = pd.merge(users, emails, on='UserID', how='inner')
print("Inner Join:\n", merged_inner)

# LEFT JOIN: Keeps everything from Left (Users), fills missing Right matches with NaN
# Alice is kept, David is ignored.
merged_left = pd.merge(users, emails, on='UserID', how='left')
print("\nLeft Join:\n", merged_left)

## Part 8: Time Series (Bonus but Essential)

*Pandas was originally created for financial time series data.*

In [9]:
# Create a date range
dates = pd.date_range(start='2024-01-01', periods=5, freq='D') # D = Day

ts_df = pd.DataFrame({
    'Date': dates,
    'Sales': [100, 120, 150, 110, 200]
})

# Set Date as Index (Crucial for Time Series magic)
ts_df.set_index('Date', inplace=True)

print("Time Series:\n", ts_df)

# Slicing by string!
print("\nSales on Jan 3rd:", ts_df.loc['2024-01-03'])

# Resampling (Aggregation over time)
# "Give me the mean sales every 2 Days"
print("\n2-Day Average:\n", ts_df.resample('2D').mean())

Time Series:
             Sales
Date
2024-01-01    100
2024-01-02    120
2024-01-03    150
2024-01-04    110
2024-01-05    200

Sales on Jan 3rd: Sales    150
Name: 2024-01-03 00:00:00, dtype: int64

2-Day Average:
             Sales
Date
2024-01-01  110.0
2024-01-03  130.0
2024-01-05  200.0